#game {
    height: 100%;
    width: 90%;
    margin-top: 6.5rem;
    display: flex;
    justify-content: center;
}

#game-container {
    display: grid;
    grid-template: 15rem 15rem 15rem / 15rem 15rem 15rem;
}

.box-game {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'stardew-valley';
    font-size: 8rem;
}

.cg1 {
    border-bottom: solid black 0.2rem;
    border-right: solid black 0.2rem;
}


.cg2 {
    border-bottom: solid black 0.2rem;
    border-right: solid black 0.2rem;
}


.cg3 {
    border-bottom: solid black 0.2rem;
}

.cg4 {
    border-bottom: solid black 0.2rem;
    border-right: solid black 0.2rem;
}


.cg5 {
    border-bottom: solid black 0.2rem;
    border-right: solid black 0.2rem;
}


.cg6 {
    border-bottom: solid black 0.2rem;
}

.cg7 {
    border-right: solid black 0.2rem;
}


.cg8 {
    border-right: solid black 0.2rem;
}