#game {
    height: 100%;
    width: 90%;
    margin-top: 6.5rem;
    display: flex;
    justify-content: center;
}

#game-container {
    display: grid;
    grid-template: 20rem 20rem 20rem / 20rem 20rem 20rem;
}

.box-game {
    text-align: center;
    border: solid black 0.2rem;
}